<template>
  <div class="word-info">
    <div class="header">
      <img src="../../../assets/arrow-right.svg" alt="arrow-icon">
      <span>{{info.pos}} /{{info.transcription}}/</span>
    </div>
    <div class="data">
      <info-data type="Synonyms" :list="info.synonyms"/>
      <info-data type="Examples" :list="info.examples"/>
    </div>
  </div>
</template>

<script>
import InfoData from "./WordInfo/InfoData";

export default {
  name: "WordInfo",
  components: {
    InfoData
  },
  props: ["info"]
};
</script>

<style lang="less" scoped>
@import "../../../colors/colors.less";

.word-info {
  padding: 10px;
  border-bottom: 1px solid @light-gray;
  .header {
    display: flex;
    align-items: center;
    img {
      margin-top: 5px;
    }
    span {
      font-size: 20px;
      color: @gray;
      text-decoration: underline;
    }
  }
  .data {
    display: flex;
  }
}
</style>
