<template>
  <div id="info-data">
    <h1 class="header">{{ type }}</h1>
    <span v-if="!list.length">—</span>
    <ul v-else>
      <li v-for="(item, index) in list" :key="index">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "InfoData",
  props: ["type", "list"]
};
</script>

<style lang="less" scoped>
@import "../../../../colors/colors.less";

#info-data {
  flex-grow: 1;
  padding: 10px;
  .header {
    font-size: 20px;
    color: @gray;
    font-weight: normal;
    margin-bottom: 15px;
  }
  ul {
    margin-left: 20px;
    list-style: circle;
    li {
      font-size: 20px;
      line-height: 1.5;
      color: @gray;
    }
  }
}
</style>
