<template>
  <div id="content">
    <Header />
    <Info />
  </div>
</template>

<script>
import Header from './Content/Header';
import Info from './Content/Info';

export default {
  name: 'Content',
  components: {
    Header,
    Info
  }
}
</script>

<style lang="less" scoped>
#content {
  position: relative;
  width: calc(100% - 250px);
  height: 100%;
}
</style>
