<template>
  <div class="no-data">
    <span>{{ text }}</span>
  </div>
</template>

<script>
export default {
  name: "NoData",
  props: [
    'text'
  ]
}
</script>

<style lang="less" scoped>
@import '../colors/colors.less';

.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  color: @middle-gray;
  font-size: 20px;
  font-weight: normal;
}
</style>
