<template>
  <div id="sidebar">
    <search />
    <history />
  </div>
</template>

<script>
import Search from './Sidebar/Search';
import History from './Sidebar/History'

export default {
  name: 'Sidebar',
  components: {
    Search,
    History
  }
};
</script>

<style lang="less" scoped>
@import '../colors/colors.less';

#sidebar {
  position: relative;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid @light-gray;
}
</style>
