<template>
  <li class="word-tab">
    <div class="info-block" @click="researchWord">
      <p class="word">
        <span>{{word}}</span>
      </p>
      <p class="date">
        <img src="../../../assets/time.svg" alt="time-icon">
        <span>{{time}}</span>
      </p>
    </div>
    <div class="remove-block" @click="removeTab">
      <svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z" />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </div>
  </li>
</template>

<script>
import { requestApi } from "../../../api/api.js";

export default {
  name: "WordTab",
  props: ["word", "time", "index"],
  methods: {
    removeTab() {
      this.$store.commit("REMOVE_FROM_HISTORY", this.index);
    },
    researchWord() {
      const word = this.word;
      requestApi(word).then(info => {
        this.$store.commit("REPLACE_CURRENT", {
          word,
          info
        });
      });
    }
  }
};
</script>

<style lang="less" scoped>
@import "../../../colors/colors.less";

.word-tab {
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid @light-gray;
  &:hover {
    cursor: pointer;
    background-color: @clouds;
    .remove-block {
      transform: translateX(0);
    }
  }
  .info-block {
    width: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    .word,
    .date {
      width: 100%;
    }
    .word {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: @gray;
      span {
        font-size: 20px;
        line-height: 1.2;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .date {
      display: flex;
      align-items: center;
      img {
        margin-right: 3px;
      }
      span {
        font-size: 14px;
        color: @middle-gray;
      }
    }
  }
  .remove-block {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    background-color: @light-red;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      background-color: @dark-red;
    }
    .delete-icon {
      width: 35px;
      height: 35px;
      fill: @white;
    }
  }
}
</style>
