<template>
  <div id="header">
    <p>
      <img src="../../assets/header.svg" alt="header-icon">
      <span>{{currentWord}}</span>
    </p>
  </div>
</template>

<script>
export default {
  name: "Header",
  computed: {
    currentWord() {
      return this.$store.getters.currentWord;
    }
  }
};
</script>

<style lang="less" scoped>
@import '../../colors/colors.less';

#header {
  height: 50px;
  display: flex;
  padding: 0 15px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid @light-gray;
  box-sizing: border-box;
  p {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    span {
      font-size: 20px;
      color: @gray;
      text-transform: uppercase;
    }
  }
}
</style>
