<template>
  <div id="info">
    <no-data v-if="info === null" text="No content" />
    <word-info v-else v-for="(item, index) in info" :key="index" :info="item" />
  </div>
</template>

<script>
import WordInfo from "./Info/WordInfo";
import NoData from "../NoData";

export default {
  name: "Info",
  components: {
    WordInfo,
    NoData
  },
  computed: {
    info() {
      return this.$store.getters.currentInfo;
    }
  }
};
</script>

<style lang="less" scoped>
::-webkit-scrollbar {
  width: 0px;
}

#info {
  height: calc(100% - 50px);
  overflow-y: scroll;
}
</style>
