<template>
  <ul id="history">
    <no-data v-if="!history.length" text="No history" />
    <word-tab 
      v-else 
      :key="index" 
      v-for="(item, index) in history"
      :word="item.word"
      :time="item.time"
      :index="index"
    />
  </ul>
</template>

<script>
import WordTab from './History/WordTab';
import NoData from '../NoData';

export default {
  name: 'History',
  components: {
    WordTab,
    NoData
  },
  computed: {
    history() {
      return this.$store.getters.history;
    }
  }
}
</script>

<style lang="less" scoped>
::-webkit-scrollbar {
  width: 0px;
}

#history {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
}
</style>
