<template>
  <div id="search">
    <div>
      <img class="loading" v-if="loading" src="../../assets/loading.svg" alt="loading-icon">
      <img v-else src="../../assets/search.svg" alt="search-icon">
      <input type="text" name="search-input" placeholder="Input your word..." v-model="inputValue" @keydown.enter="getData" />
    </div>
  </div>
</template>

<script>
import { requestApi } from "../../api/api.js";

export default {
  name: "Search",
  data() {
    return {
      inputValue: "",
      loading: false
    };
  },
  methods: {
    getData() {
      const word = this.inputValue.trim();
      if (word === "") return;

      this.loading = true;
      requestApi(word)
        .then(info => {
          this.loading = false;

          this.$store.commit("REPLACE_CURRENT", {
            word: info ? word : "",
            info: info
          });

          return info === null;
        })
        .then(incorrect => {
          if (incorrect) return;

          this.$store.commit("ADD_TO_HISTORY", {
            word: word,
            time: this.getCurrentDate()
          });
        });
    },
    getCurrentDate() {
      const date = new Date();
      const hours = date.getHours();
      const minutes = date.getMinutes();

      return hours + ":" + (minutes < 10 ? "0" + minutes : minutes);
    }
  }
};
</script>

<style lang="less" scoped>
@import "../../colors/colors.less";

#search {
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid @light-gray;
  div {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    .loading {
      animation: round 1.5s linear infinite;
    }
    img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 6px;
      left: 5px;
    }
    input {
      width: 100%;
      padding: 7px 10px 7px 30px;
      border: none;
      outline: none;
      background-color: @clouds;
      border-radius: 5px;
      font-size: 14px;
      box-sizing: border-box;
      color: @gray;
    }
  }
}

@keyframes round {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

</style>
