<template>
  <div id="app">
    <Sidebar />
    <Content />
  </div>
</template>

<script>

import Sidebar from './components/Sidebar.vue';
import Content from './components/Content.vue';

export default {
  name: "App",
  components: {
    Sidebar,
    Content
  }
}

</script>

<style lang="less" scoped>
  #app {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
</style>

